@(offices: java.util.List[models.office.Office])

@import play.i18n.Messages

    @main {
    @navigation.navCore.render()
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="/">@Messages.get("navigation.link.home")</a></li>
            <li class="active">@Messages.get("navigation.link.admin")</li>
        </ol>
        <div class="col-md-2">
            <ul class="nav nav-pills nav-stacked">
                <li role="presentation" class="active">@Messages.get("navigation.link.admin.offices")</li>
                <li role="presentation"><a href="/admin/reservations ">@Messages.get("navigation.link.admin.reservations")</a></li>
            </ul>
        </div>
        <div class="col-md-8">
            <table class="table">
                <thead>
                    <tr>
                        <th>@Messages.get("office.label.name")</th>
                        <th>@Messages.get("office.label.address")</th>
                        <th>@Messages.get("office.label.workspaces.amount")</th>
                        <th>@Messages.get("office.label.prize")</th>
                    </tr>
                </thead>
                <tbody>
                @for(office <- offices) {
                    <tr>
                        <td>@office.getName()</td>
                        <td>@office.getAddress().toString()</td>
                        <td>@office.getWorkplacesAmount()</td>
                        <td>@office.getPrize()</td>
                        <td><a href="/admin/office/@office.getId()/edit"><button type="button" class="btn btn-xs btn-warning">@Messages.get("common.label.edit")</button></a></td>
                        <td>
                            <form method="POST" action="/admin/office/@office.getId()/remove ">
                                <button type="submit" class="btn btn-xs btn-danger">@Messages.get("common.label.remove")</button>
                            </form>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
            <div class="container">
                <a href="/admin/office"><button type="button" class="btn btn-primary">@Messages.get("common.button.add")</button></a>
            </div>
        </div>
    </div>
}

