@(reservations: java.util.List[models.office.Reservation])

@import play.i18n.Messages
@import models.office.Reservation

    @main {
    @navigation.navCore.render()
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="/">@Messages.get("navigation.link.home")</a></li>
            <li class="active">@Messages.get("navigation.link.admin")</li>
        </ol>
        <div class="col-md-2">
            <ul class="nav nav-pills nav-stacked">
                <li role="presentation"><a href="/admin">@Messages.get("navigation.link.admin.offices")</a></li>
                <li role="presentation" class="active">@Messages.get("navigation.link.admin.reservations")</li>
            </ul>
        </div>
        <div class="col-md-8">
            <table class="table">
                <thead>
                    <tr>
                        <th>@Messages.get("office.label.name")</th>
                        <th>@Messages.get("order.label.status")</th>
                        <th>@Messages.get("order.label.owner")</th>
                        <th>@Messages.get("order.label.date.creation")</th>
                        <th>@Messages.get("order.label.date.expiry")</th>
                    </tr>
                </thead>
                <tbody>
                @for(reservation <- reservations) {
                    <tr>
                        <td>@reservation.getOfficeName()</td>
                        <td>@Messages.get("reservation.state." + reservation.getState())</td>
                        <td>@reservation.getOwner()</td>
                        <td>@reservation.getCreationDateForUser()</td>
                        <td>@reservation.getExpiryDateForUser()</td>
                        <td>
                            <form method="POST" action="/user/order/@reservation.getId/cancel">
                                    <button type="submit" class="btn btn-xs btn-danger">@Messages.get("common.label.remove")</button>
                                </form>
                        </td>


                        @if(reservation.getState() == Reservation.PROCESSING) {
                            <td>
                                <form method="POST" action="/user/order/@reservation.getId/accept">
                                    <button type="submit" class="btn btn-xs btn-info">@Messages.get("common.label.accept")</button>
                                </form>
                            </td>
                        }
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>

}