@import play.i18n.Messages

@(office: models.office.Office)

<div class="col-lg-4">
    <div class="office-info-short">
        @if(office.getPicturePath() == null) {

        } else {
                <img src="@routes.OfficeCtrl.getOfficeImage(office.getPicturePath())"/>
        }
        <div class="office-short-info">
            <h3><span class="glyphicon glyphicon-chevron-right"></span>  @office.getName()</h3>
            <h5><b>@Messages.get("office.details.city")</b> @office.getAddress().getCity()</h5>
            <h5><b>@Messages.get("office.details.street")</b> @office.getAddress().getStreet()</h5>
        </div>
        <a href="/office/details/@office.getId()">
            <button type="button" class="btn btn-primary">@Messages.get("office.list.view.details")</button>
        </a>
    </div>
</div>
