@import models.office.Office
@import play.i18n.Messages
@import tools.KeyCodes

@(office: Office)

@main {
    @navigation.navCore.render()
    <div class="container marketing">
        <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li><a href="/office/list">Biura</a></li>
            <li class="active">Szczegóły</li>
        </ol>
        <div class="row featurette">
<!---------- Opis biura --------->
            <div class="col-md-6">
                <div class="office-details">
                    @views.html.office._picture.render(office.getPicturePath())
                    <h1><span class="label label-primary">@office.getPrize() PLN</span></h1>
                    <h2 class="featurette-heading">@office.getName()</h2>
                    <p class="lead">@office.getDescription()</p>

                </div>
            </div>
            <div class="col-md-6">
<!---------- Mapa z lokalizacja --------->
                <div class="office-details">
                    <iframe
                        width="100%"
                        height="520"
                        frameborder="0" style="border:0"
                        src="https://www.google.com/maps/embed/v1/search?key=AIzaSyArmHH36xyIvy36FpDjjC_jcjekff7RJXs
                        &q=@office.getAddress().getCity(), @office.getAddress().getStreet()">
                    </iframe>
                </div>
            </div>
       </div>

        @if(session.contains(KeyCodes.SESSION_USER)) {
        <!---------- Rozkład biura --------->
                <div class="row featurette">
                    <div class="office-plan-wrapper">
                        <div class="office-plan">
                            <div id="workspace-0" onclick="selection(0)"></div>
                            <div id="workspace-1" onclick="selection(1)"></div>
                            <div id="workspace-2" onclick="selection(2)"></div>
                            <div id="workspace-3" onclick="selection(3)"></div>
                        </div>
                    </div>
                </div>

        <!---------- Daty rezerwacji --------->
                <div class="row featurette">
                    <div hidden="true" id="alert" class="alert alert-danger" role="alert"></div>
                    <div class="col-md-6">
                        <label for="beginning-date">Data rozpoczęcia</label>
                        <div class="input-group date">
                            <input type="text" id="beginning-date" name="beginning-date" class="form-control"><span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                      <br><button type="button" id="button-availability" class="btn btn-info">@Messages.get("common.button.check.if.available")</button>
                    </div>
                </div>
        <!---------- Reszta formularza --------->
                <br>
               <div class="row featurette">
                    <form method="POST" id="orderForm" action="/office/@office.getId()/order">
                       <input type="hidden" id="workplaceId" name="workplaceId">
                        <input type="hidden" id="startDate" name="startDate">
                       <button type="button" class="btn btn-primary" onclick="submitForm()">@Messages.get("office.order.make")</button>
                    </form>
                </div>
        }
    </div>


    <script>
    var workplaces = new Array()
    var states = [0,0,0,0]
    var currentSelection = null;
    var previousSelection = null;

    $('.input-group.date').datepicker({
        format: "yyyy-mm-dd",
        startDate: "2012-01-01",
        endDate: "2020-01-01",
        todayBtn: "linked",
        autoclose: true,
        todayHighlight: true
    });

    function selection(itemId) {
        if (states[itemId] == 0){
            if (currentSelection != null)
                previousSelection = currentSelection
            currentSelection = itemId
            if (previousSelection != currentSelection) {
                $('#workspace-'+previousSelection ).removeClass( ).addClass('workspace-state-' + states[itemId])
                $('#workspace-'+currentSelection ).removeClass( ).addClass('workspace-state-selected')
            } else {
                $('#workspace-'+currentSelection ).removeClass( ).addClass('workspace-state-' + states[itemId])
                currentSelection = null
                previousSelection = null
            }
        }
    }

    function submitForm() {
        if (currentSelection != null) {
            if (states[currentSelection] == 0) {
                $ ( '#workplaceId' ).val ( workplaces[ currentSelection ].id )
                $ ( '#startDate' ).val ( $ ( '#beginning-date' ).val ( ) )
                $ ( '#orderForm' ).submit ( )
            } else {
            $('#alert').show( ).text("Miejsce jest zajete")
            }
        } else {
            $('#alert').show( ).text("@Messages.get("reservations.select.workplace")")
        }
    }

    $('#button-availability' ).click( function() {
        var date = $('#beginning-date').val();
        var requestAddress = "/office/" + @office.getId() + "/reservations/" + date;
        $.ajax({
            url: requestAddress,
            type: "GET",
            beforeSend: function() {
                $('#alert').hide()
                states = [0,0,0,0]
                states.forEach(function(value, index){
                    $('#workspace-'+ index).removeClass( ).addClass('workspace-state-0')
                })

            },
            success: function(data) {
                workplaces = data
                console.log(workplaces)
                data.forEach(function(workspace, index){
                    workspace.reservations.forEach(function(reservation) {
                        console.log(reservation.state)
                        if (reservation.state == "1" || reservation.state == "3" || reservation.state == "2") {
                            states[ index ] = reservation.state
                        }
                    })
                })

                console.log(states)
                states.forEach(function(value, index){
                  $('#workspace-'+ index).addClass('workspace-state-' + value)
                })
            },
            error: function(){
                $('#alert').show( ).text("@Messages.get("reservations.check.availability")")
            }
        });
    });
    </script>
}