@(office: models.office.Office)

@import play.i18n.Messages

@main {
    @navigation.navCore.render()
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="/">@Messages.get("navigation.link.home")</a></li>
            <li><a href="/admin">@Messages.get("navigation.link.admin")</a></li>
            <li class="active">@Messages.get("navigation.link.office.edit")</li>
        </ol>
        @common.error.render()
        <form class="form-signin" role="form" enctype="multipart/form-data" method="POST" action="/admin/office/@office.getId()/edit">
            <div class="col-lg-6">
                <label for="name">@Messages.get("office.label.name")</label>
                <input class="form-control" type="text" name="name" id="name" placeholder="Office name" required="true" value="@office.getName()"/><br/>
                <label for="description">@Messages.get("office.label.desc")</label>
                <textarea class="form-control" rows="4" type="text" name="description" id="description" placeholder="Description" >@office.getDescription()</textarea><br/>
                <label for="workplaces">@Messages.get("office.label.workspaces.amount")</label>
                <input class="form-control" type="number" min="0" max="10" name="workplaces" disabled="true" id="workplaces" placeholder="1..10" value="@office.getWorkplaces().size()" required="true"/><br/>
                <label for="city">@Messages.get("office.label.address.city")</label>
                <input class="form-control" type="text" name="city" id="city" placeholder="eg. Gotham City" value="@office.getAddress().getCity()"  required="true" /><br/>
                <label for="city">@Messages.get("office.label.address.street")</label>
                <input class="form-control" type="text" name="street" id="street" placeholder="eg. Sezam Street 7" value="@office.getAddress().getStreet()" required="true"/><br/>
                <label for="prize">@Messages.get("office.label.prize")</label>
                <input class="form-control" type="number" name="prize" id="prize" placeholder="Prize in PLN" value="@office.getPrize()" required="true"/><br/>
            </div>
            <div class="col-lg-6">
                <label for="currentSmallPicture">@Messages.get("office.label.picture.small.current")</label>
                <div class="currentSmallPicture">
                     @views.html.office._picture.render(office.getPicturePath())
                </div><br>

                <label for="smallPicture">@Messages.get("office.label.picture.small")</label>
                <div class="input-group">
                    <span class="input-group-btn">
                        <span class="btn btn-primary btn-file">
                            Browse&hellip; <input name="smallPicture" id="smallPicture" type="file" accept="image/jpeg, image/png">
                        </span>
                    </span>
                    <input type="text" class="form-control">
                </div><br>

            </div>
            <div class="col-lg-6">
                <button type="submit" class="btn btn-lg btn-primary"><span class="glyphicon glyphicon-ok"></span>@Messages.get("office.label.edit")</button>
            </div>
        </form>
    </div>
}