@import models.office.Office
@import play.i18n.Messages
@(offices: java.util.Collection[Office])

@main {
    @navigation.navCore.render()

    <div class="container">
        <ol class="breadcrumb">
            <li><a href="/">@Messages.get("navigation.link.home")</a></li>
            <li class="active">@Messages.get("navigation.link.offices")</li>
        </ol>
        @if(offices.size() > 0) {
            @for(office <- offices) {
                @views.html.office._office.render(office)
            }
        } else {
            <div class="alert alert-warning">
                <strong>@Messages.get("search.no.results.strong")</strong> @Messages.get("search.no.results.normal")
            </div>
            <a href="/"><button type="button" class="btn btn-lg btn-warning">@Messages.get("search.button.back")</button></a>
        }
    </div>
}