<form class="form-signin" role="form" method="POST" action="@routes.OfficeCtrl.search()">
    <input type="text" class="form-control input-lg" name="search" id="search" placeholder="Type office name, or city" required="true" /><br/>
    <button type="button" class="btn btn-lg btn-success">Szukaj</button>
</form>