textarea {
    resize: none;
}

.login-register-form {
    margin: auto auto 0 auto;
    width: 400px;
    background-color: rgba(255, 249, 248, 0.51);
    padding: 10px 30px 20px;
    border-radius: 5px;
    border: solid 2px #d7d7d7;

}
.home-icon {
    width: 64px;
    height: 64px;
    margin: auto auto 0 auto;
}
.error {
    margin: 0 auto;
    text-align: center;
}

#office {
    background: url("../images/office1.png") no-repeat center;
    margin: 0;
    width: 100%;
    min-height: 100%;
    position: fixed;
}

#office-serach-form {
    margin: 5% auto 0 auto;
    width: 50%;
    background-color: rgba(255, 249, 248, 0.51);
    padding: 10px 30px 20px;
    border-radius: 5px;
    border: solid 2px #d7d7d7;
}

#propaganda {
    width: 50%;
    margin: 10% auto ;
    color: #d7d7d7;
    text-align: justify;
    font-style: italic;
}

#registration-captcha {
    width: 100%;
    height: 100%;
    margin: auto;
    padding-top: 5px;
    padding-bottom: 10px;
}

#propaganda .offer {
    display: table;
    margin: 0 auto;
}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    background: red;
    cursor: inherit;
    display: block;
}
input[readonly] {
    background-color: white !important;
    cursor: text !important;
}

img {
    width:auto;
    max-width:100%;
    height:auto;
}

.office-info-short {
    min-height: 430px;
    margin-bottom: 10px;
    background-color: rgba(176, 170, 169, 0.100);
    padding: 10px 10px 10px;
    border-radius: 5px;
}

.office-details {
    margin-bottom: 10px;
    min-height: 550px;
    padding: 10px 10px 10px;
    border-radius: 5px;
    width: auto;
    height: auto;
    color: #003871;
    border: solid 2px #d7d7d7;
}

.office-prize p {
    color: #0a386c;
}

.office-prize h1 {
    color: #1983b7;
    font-size: 72px;
}

.office-plan-wrapper {
    margin-top: 30px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    width: auto;
    height: auto;
    padding: 10px 10px 10px;
    border: solid 2px #d7d7d7;
    border-radius: 5px;
}

.office-plan{
    margin: auto;
    background: url("../images/office-plan.jpg") no-repeat center;
    width:900px;
    height:450px;
}

#workspace-1, #workspace-2, #workspace-3, #workspace-0 {
    position: relative;
    width: 100px;
    height:  160px;
    border: 1px solid;
}

#workspace-1:hover, #workspace-2:hover, #workspace-3:hover, #workspace-0:hover {
    box-shadow: 0px 30px 100px rgba(0,0,0,1);
    background: rgba(0,0,0,.0);
}

#workspace-0{
    top: 40px;
    left: 420px;
}

#workspace-1{
    top: -10px;
    left: 180px;
}

#workspace-2{
    top: -80px;
    left: 360px;
}

#workspace-3 {
    top: -380px;
    left: 560px;
}

.workspace-state-0 {
    /* background: url("../images/flag-red.png") no-repeat center; */
    box-shadow: 0px 30px 100px rgb(235, 255, 242);
    border: 1px solid rgba(239, 248, 255, 0.76) !important;
}

.workspace-state-2 {
    box-shadow: 0px 30px 100px rgb(255, 160, 43);
    border: 1px solid #ff7b0e !important;
}

.workspace-state-1 {
    box-shadow: 0px 30px 100px rgb(255, 64, 118);
    border: 1px solid #ff4076 !important;
}

.workspace-state-3 {
    box-shadow: 0px 30px 100px rgb(36, 126, 183);
    border: 1px solid #247eb7 !important;
}

.workspace-state-selected {
    box-shadow: 0px 30px 100px rgb(66, 118, 55);
    border: 1px solid #00ff10 !important;
}
