@(reservations: java.util.List[models.office.Reservation])

@import tools.KeyCodes
@import play.i18n.Messages

@main {
    @navigation.navCore.render()
    @if(flash().contains(KeyCodes.FLASH_ERROR)) {
        @views.html.common.error.render()
    }



    <div class="container">
        <ol class="breadcrumb">
            <li><a href="/">@Messages.get("navigation.link.home")</a></li>
            <li class="active">@Messages.get("navigation.link.orders")</li>
        </ol>

    @if(flash().contains(KeyCodes.FLASH_SUCCESS)) {
        <div class="alert alert-success" role="alert">
            <h4>@flash.get(KeyCodes.FLASH_SUCCESS)</h4>
        </div>

    }

    @if(reservations.size() > 0) {
        @views.html.order.list.render(reservations)
    } else {
        <div class="alert alert-warning">
            <strong>@Messages.get("orders.list.empty")</strong>
        </div>
        <a href="/office/list"><button type="button" class="btn btn-warning">@Messages.get("navigation.link.offer")</button></a>
    }
    </div>
}