@(reservations: java.util.List[models.office.Reservation])

@import play.i18n.Messages
@import models.office.Reservation



<table class="table">
    <thead>
        <tr>
            <th>@Messages.get("office.label.name")</th>
            <th>@Messages.get("office.label.address")</th>
            <th>@Messages.get("order.label.status")</th>
            <th>@Messages.get("order.label.date.creation")</th>
            <th>@Messages.get("order.label.date.beginning")</th>
            <th>@Messages.get("order.label.date.expiry")</th>
            <th>@Messages.get("order.label.date.duration")</th>
        </tr>
    </thead>
    <tbody>

    @for(reservation <- reservations) {
        <tr>
            <td>@reservation.getOfficeName()</td>
            <td>@reservation.getOfficeAddress()</td>
            <td>@Messages.get("reservation.state." + reservation.getState())</td>
            <td>@reservation.getCreationDateForUser()</td>
            <td>@reservation.getBeginningDateForUser()</td>
            <td>@reservation.getExpiryDateForUser()</td>
            <td>@reservation.getDurationForUser()</td>
            @if(reservation.getState() == Reservation.BOOKED || reservation.getState() == Reservation.PROCESSING) {
                <td>
                    <form method="POST" action="/user/order/@reservation.getId/cancel">
                        <button type="submit" class="btn btn-xs btn-danger">@Messages.get("common.label.resign")</button>
                    </form>
                </td>
            }
            @if(reservation.getState() == Reservation.BOOKED) {
                <td>
                    <form method="POST" action="/user/order/@reservation.getId/confirm">
                        <button type="submit" class="btn btn-xs btn-info">@Messages.get("common.label.confirm")</button>
                    </form>
                </td>
            }
        </tr>
    }
    </tbody>
</table>


