@import play.i18n.Messages.get
@main{
<div id="office">

    @common.error.render()
    <div class="user-form-content">
        <div class="login-register-form">
            <div class="home-icon">
                <h1><a href="/"><span class="glyphicon glyphicon-home"></span></a></h1>
            </div>
            <form class="form-signin" role="form" action="@routes.UserCtrl.signIn()" method="POST">
                <h2 class="form-signin-heading">@get("form.login.label")</h2>
                <input class="form-control" type="email" name="email" placeholder="Email"><br/>
                <input class="form-control" type="password" name="password" placeholder="Password"><br/>
                <button class="btn btn-lg btn-primary btn-block" type="submit">@get("form.login.button")</button>
            </form>
        </div>

    </div>
</div>
}