@import play.i18n.Messages.get

@main {
    <div id="office">
        @common.error.render()
        <div class="user-form-content">
          <div class="login-register-form">
              <div class="home-icon">
                  <h1><a href="/"><span class="glyphicon glyphicon-home"></span></a></h1>
              </div>
                <form class="form-signin" role="form" action="@routes.UserCtrl.signUp()" method="POST">
                    <h2 class="form-signin-heading">@get("form.registration.label")</h2>
                    <input class="form-control" type="email" name="email" placeholder="Email"><br/>
                    <input class="form-control" type="password" name="password" placeholder="Password"><br/>
                    <input class="form-control" type="password" name="repeatedPassword" placeholder="Password"><br/>
                    <input class="form-control" type="text" name="firstName" placeholder="First Name"><br/>
                    <input class="form-control" type="text" name="lastName" placeholder="Last Name"><br/>

                    <div id="registration-captcha">
                        <p>Captcha: </p>
                        <img src="@routes.Application.captcha()" />
                    </div>
                    <input class="form-control" type="text" name="captcha" placeholder="type captcha here"><br/>

                    <button class="btn btn-lg btn-success btn-block" type="submit">@get("form.registration.button")</button>
                </form>
            </div>
        </div>
    </div>

}