@import tools.KeyCodes

<nav class="navbar navbar-inverse" role="navigation">
    <a class="navbar-brand" href="/" ><span class="glyphicon glyphicon-home"></span></a>
@if(session.get(KeyCodes.SESSION_USER) != null) {
    @navigation.navSignedIn.render()
} else {
    @navigation.navUnsignedIn.render()
}
</nav>