@import tools.KeyCodes
@import play.i18n.Messages
@import security.Permission

<ul class="nav navbar-nav">
    <li><a href="/office/list">@Messages.get("navigation.link.offer")</a></li>
    <li><a href="/user/orders">@Messages.get("navigation.link.orders")</a></li>
    @if(session.contains(KeyCodes.SESSION_ADMIN) &&
            session.get(KeyCodes.SESSION_ADMIN).equals(Permission.ADMIN.toString())){
        <li><a href="/admin">@Messages.get("navigation.link.admin")</a></li>
    }
</ul>
<form class="navbar-form navbar-right" action="@routes.UserCtrl.signOut()" method="POST">
    <button type="submit" class="btn btn-primary">@play.i18n.Messages.get("form.logut.button")</button>
</form>
<p class="navbar-text navbar-right">Signed in as @session.get(KeyCodes.SESSION_USER)</p>