@import play.i18n.Messages.get
<form class="navbar-form navbar-left" action="@routes.UserCtrl.login()">
    <button type="submit" class="btn btn-success">@get("form.login.button")</button>
</form>
<form class="navbar-form navbar-left" action="@routes.UserCtrl.registration()">
    <button type="submit" class="btn btn-info">@get("form.registration.button")</button>
</form>